.wrapper {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    background-image: url('/img/back.png');
    border-radius: 3px;
}

.flipped:not([data-lock='true']) {
    border: 2px solid #2f2f2f;
    border-radius: 50%;
    margin: 8px;
}

.game-over * {
    width: 100%;
}

.game-over p {
    cursor: pointer;
}

.game-over {
    transition: right 0.5s ease;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 100vw;
    bottom: 0;
    background: #2f2f2f9c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    flex-wrap: wrap;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.leaderboard{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f2f2f;
    color: whitesmoke;
    z-index: 10;
}

.leaderboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.leaderboard div * {
    width: fit-content;
}

.leaderboard span {
    cursor: pointer;
    align-self: flex-start;
    margin: 20px;
    font-size: 3em;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 2px;
    text-align: center;
    color: whitesmoke;
}

input:focus {
    outline: none;
}

button {
    width: fit-content !important;
    padding: 2px 4px;
}